In this Project, we are going to perform a full unsupervised learning machine learning project

In [21]:
#Libraries to work with dataframe
# import pandas
import pandas as pd
# Libraries to work with dataframe
import numpy as np
# Libraries for datetime
import datetime as dt
# Libraries for EDA
import matplotlib as plt
import seaborn as sns

In [22]:
# load data
df = pd.read_csv(r'C:\Users\layin\OneDrive\Desktop\e-commerce\Transforming_e-commerce_transactions\Data_files\SalesTransaction.csv', sep = ",")

In [23]:
df.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [24]:
df.tail()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
536345,C536548,12/1/2018,22168,Organiser Wood Antique White,18.96,-2,12472.0,Germany
536346,C536548,12/1/2018,21218,Red Spotty Biscuit Tin,14.09,-3,12472.0,Germany
536347,C536548,12/1/2018,20957,Porcelain Hanging Bell Small,11.74,-1,12472.0,Germany
536348,C536548,12/1/2018,22580,Advent Calendar Gingham Sack,16.35,-4,12472.0,Germany
536349,C536548,12/1/2018,22767,Triple Photo Frame Cornice,20.45,-2,12472.0,Germany

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536350 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  536350 non-null  object
 1   Date           536350 non-null  object
 2   ProductNo      536350 non-null  object
 3   ProductName    536350 non-null  object
 4   Price          536350 non-null  float64
 5   Quantity       536350 non-null  int64
 6   CustomerNo     536295 non-null  float64
 7   Country        536350 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ MB

In [26]:
df.dtypes

TransactionNo     object
Date              object
ProductNo         object
ProductName       object
Price            float64
Quantity           int64
CustomerNo       float64
Country           object
dtype: object

In [27]:
df.shape

(536350, 8)

In [28]:
df.describe()

               Price       Quantity     CustomerNo
count  536350.000000  536350.000000  536295.000000
mean       12.662182       9.919347   15227.893178
std         8.490450     216.662300    1716.582932
min         5.130000  -80995.000000   12004.000000
25%        10.990000       1.000000   13807.000000
50%        11.940000       3.000000   15152.000000
75%        14.090000      10.000000   16729.000000
max       660.620000   80995.000000   18287.000000

Data cleaning

In [29]:
# to change date to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [30]:
df.dtypes

TransactionNo            object
Date             datetime64[ns]
ProductNo                object
ProductName              object
Price                   float64
Quantity                  int64
CustomerNo              float64
Country                  object
dtype: object

In [31]:
# check for null values
df.isnull().sum()

TransactionNo     0
Date              0
ProductNo         0
ProductName       0
Price             0
Quantity          0
CustomerNo       55
Country           0
dtype: int64

55 customersNo is null so we will drop the rows

In [32]:
# drop null customerNo
df[df['CustomerNo'].isnull()]

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
6511,C581406,2019-12-08,46000M,Polyester Filler Pad 45x45cm,6.19,-240,NaN,United Kingdom
6512,C581406,2019-12-08,46000S,Polyester Filler Pad 40x40cm,6.19,-300,NaN,United Kingdom
90098,C575153,2019-11-08,22947,Wooden Advent Calendar Red,44.25,-1,NaN,United Kingdom
102671,C574288,2019-11-03,22178,Victorian Glass Hanging T-Light,25.37,-1,NaN,United Kingdom
117263,C573180,2019-10-28,23048,Set Of 10 Lanterns Fairy Light Star,14.50,-1,NaN,United Kingdom
163160,C569495,2019-10-04,21843,Red Retrospot Cake Stand,21.47,-1,NaN,United Kingdom
190598,C567518,2019-09-20,22846,Bread Bin Diner Style Red,27.62,-1,NaN,United Kingdom
192284,C567518,2019-09-20,21871,Save The Planet Mug,11.94,-12,NaN,United Kingdom
242406,C563015,2019-08-11,46000M,Polyester Filler Pad 45x45cm,10.25,-160,NaN,United Kingdom
242407,C563015,2019-08-11,46000S,Polyester Filler Pad 40x40cm,10.25,-220,NaN,United Kingdom
246334,C562617,2019-08-08,23243,Set Of Tea Coffee Sugar Tins Pantry,15.32,-2,NaN,United Kingdom
254250,C561966,2019-08-01,22371,Airline Bag Vintage Tokyo 78,14.48,-1,NaN,United Kingdom
254254,C562030,2019-08-01,84595E,Large Tortilla Design Red Bowl,13.62,-1,NaN,United Kingdom
260633,C561239,2019-07-26,22427,Enamel Flower Jug Cream,16.35,-1,NaN,United Kingdom
260634,C561239,2019-07-26,22426,Enamel Wash Bowl Cream,14.09,-1,NaN,United Kingdom
260635,C561239,2019-07-26,84755,Colour Glass T-Light Holder Hanging,10.92,-4,NaN,United Kingdom
276396,C559949,2019-07-14,22699,Roses Regency Teacup And Saucer,13.27,-2,NaN,United Kingdom
285494,C559296,2019-07-07,23001,Travel Card Wallet Dotcomgiftshop,10.25,-200,NaN,United Kingdom
285495,C559296,2019-07-07,22616,Pack Of 12 London Tissues,10.25,-204,NaN,United Kingdom
285496,C559296,2019-07-07,23298,Spotty Bunting,10.25,-170,NaN,United Kingdom
297259,C558364,2019-06-28,22960,Jam Making Set With Jars,18.75,-1,NaN,United Kingdom
298352,558245,2019-06-27,22734,Set Of 6 Ribbons Vintage Christmas,10.25,8,NaN,United Kingdom
303165,C557664,2019-06-21,22847,Bread Bin Diner Style Ivory,25.57,-1,NaN,United Kingdom
304635,C557664,2019-06-21,23183,Mother's Kitchen Spoon Rest,14.09,-1,NaN,United Kingdom
311943,C556939,2019-06-15,46000M,Polyester Filler Pad 45x45cm,10.25,-80,NaN,United Kingdom
311944,C556939,2019-06-15,46000S,Polyester Filler Pad 40x40cm,10.25,-160,NaN,United Kingdom
333735,C554716,2019-05-26,22662,Lunch Bag Dolly Girl Design,5.97,-1,NaN,United Kingdom
333736,C554716,2019-05-26,23206,Lunch Bag Apple Design,5.97,-1,NaN,United Kingdom
342908,C553862,2019-05-19,84945,Multi Colour Silver T-Light Holder,21.28,-1,NaN,United Kingdom
342953,C553854,2019-05-19,22053,Empire Design Rosette,11.53,-1,NaN,United Kingdom
342954,C553854,2019-05-19,21703,Bag 125g Swirly Marbles,10.68,-1,NaN,United Kingdom
342955,C553854,2019-05-19,22891,Tea For One Polkadot,14.61,-1,NaN,United Kingdom
361482,C552230,2019-05-06,20735,Black Mini Tape Measure,10.25,-1,NaN,United Kingdom
361483,C552230,2019-05-06,22617,Baking Set Spaceboy Design,10.25,-1,NaN,United Kingdom
361484,C552230,2019-05-06,37327,Asstd Multicolour Circles Mug,10.25,-1,NaN,United Kingdom
361485,C552230,2019-05-06,84375,Set Of 20 Kids Cookie Cutters,10.25,-1,NaN,United Kingdom
361486,C552230,2019-05-06,84969,Box Of 6 Assorted Colour Teaspoons,10.25,-1,NaN,United Kingdom
395771,C548605,2019-04-01,22453,Measuring Tape Babushka Blue,13.27,-1,NaN,United Kingdom
412419,C547091,2019-03-20,22766,Photo Frame Cornice,13.27,-12,NaN,United Kingdom
412420,C547091,2019-03-20,21316,Small Chunky Glass Roman Bowl,13.27,-1,NaN,United Kingdom
412421,C547091,2019-03-20,22800,Antique Tall Swirlglass Trinket Pot,14.09,-4,NaN,United Kingdom
413780,C547008,2019-03-18,22567,20 Dolly Pegs Retrospot,11.53,-1,NaN,United Kingdom
416704,C546758,2019-03-16,22212,Four Hook White Lovebirds,12.40,-1,NaN,United Kingdom
429733,C545506,2019-03-03,22907,Pack Of 20 Napkins Pantry Design,11.12,-12,NaN,United Kingdom
454036,C543384,2019-02-07,48173C,Doormat Black Flock,18.40,-1,NaN,United Kingdom
455511,C543185,2019-02-04,22333,Retrospot Party Bag + Sticker Set,11.94,-14,NaN,United Kingdom
455512,C543185,2019-02-04,22332,Skulls Party Bag + Sticker Set,11.94,-14,NaN,United Kingdom
459432,C542860,2019-02-01,22580,Advent Calendar Gingham Sack,16.35,-1,NaN,United Kingdom
462607,C542540,2019-01-28,21658,Glass Beurre Dish,18.75,-1,NaN,United Kingdom
483197,C540854,2019-01-12,22461,Savoy Art Deco Clock,23.32,-1,NaN,United Kingdom
486650,C540559,2019-01-10,21888,Bingo Set,14.09,-4,NaN,United Kingdom
493036,C540155,2019-01-05,72802B,Ocean Scent Candle In Jewelled Box,14.16,-54,NaN,United Kingdom
495203,C539948,2018-12-23,21888,Bingo Set,14.09,-4,NaN,United Kingdom
497059,C539756,2018-12-21,22720,Set Of 3 Cake Tins Pantry Design,15.32,-1,NaN,United Kingdom
507547,C538686,2018-12-14,22467,Gumball Coat Rack,12.86,-1,NaN,United Kingdom

In [33]:
# drop Nan
df.dropna(inplace=True)
df.isnull().sum()

TransactionNo    0
Date             0
ProductNo        0
ProductName      0
Price            0
Quantity         0
CustomerNo       0
Country          0
dtype: int64

In [34]:
# check for duplicates
num_duplicates = df.duplicated().sum()
num_duplicates

5200

In [35]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 531095 entries, 0 to 536349
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionNo  531095 non-null  object
 1   Date           531095 non-null  datetime64[ns]
 2   ProductNo      531095 non-null  object
 3   ProductName    531095 non-null  object
 4   Price          531095 non-null  float64
 5   Quantity       531095 non-null  int64
 6   CustomerNo     531095 non-null  float64
 7   Country        531095 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.5+ MB

sales trends over  the months.

In [39]:
df['Total_sales'] = df['Quantity'] * df['Price']
df['Month_Year'] = pd.to_datetime(df['Date']).dt.to_period('M')
df.head()

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country,Total_sales,Month_Year
0,581482,2019-12-09,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom,257.64,2019-12
1,581475,2019-12-09,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom,383.40,2019-12
2,581475,2019-12-09,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom,138.36,2019-12
3,581475,2019-12-09,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom,127.80,2019-12
4,581475,2019-12-09,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom,71.64,2019-12

In [40]:
month_total = df.groupby(['Month_Year'], as_index=False)['Total_sales'].sum()
month_total.columns = ['Date', 'Total_sales']
month_total.head()

      Date  Total_sales
0  2018-12   4217281.53
1  2019-01   3638948.12
2  2019-02   3292324.69
3  2019-03   4340035.60
4  2019-04   3406002.17